@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
      @apply dark:bg-gray-700 bg-white dark:text-gray-100 text-gray-900 
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}
::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: #ddd; /* 스크롤바의 색상 */

  border-radius: 10px;
}